In [69]:
import pandas as pd
import numpy as np
from losses import rmse_loss, mse_loss

In [4]:
house_dataset = pd.read_csv("../data/ParisHousing.csv")
# house_dataset = pd.get_dummies(house_dataset, columns=['page_url', 'property_type', 'location', 'city', 'province_name', 'area', 'agency', 'Area Type', 'Area Category'])
house_dataset

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1726,89,0,1,5,73133,7,6,2009,0,1,9311,1698,218,0,4,176425.9
9996,44403,29,1,1,12,34606,9,4,1990,0,1,9061,1742,230,0,0,4448474.0
9997,83841,3,0,0,69,80933,10,10,2005,1,1,8304,7730,345,1,9,8390030.5
9998,59036,70,0,0,96,55856,1,3,2010,0,1,2590,6174,339,1,4,5905107.0
9999,1440,84,0,0,49,18412,6,10,1994,1,0,8485,2024,278,1,6,146708.4

In [5]:
from sklearn.model_selection import train_test_split

X = house_dataset.copy()
X = X.drop(columns=["price"])
y = house_dataset["price"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [57]:
from sklearn.tree import DecisionTreeRegressor

regressor = DecisionTreeRegressor(
    criterion="squared_error",
    splitter="best",
    max_depth=100,
    min_samples_split=10,
    min_samples_leaf=5,
    min_weight_fraction_leaf=0.0,
    max_features=None,
    random_state=None,
    max_leaf_nodes=None,
    min_impurity_decrease=0.0,
    ccp_alpha=0.01,
    monotonic_cst=None,
)
regressor = regressor.fit(X_train, y_train)

In [58]:
score = regressor.score(X_test, y_test)
print(f"R^2 score: {score:.9f}")

R^2 score: 0.999996839

In [59]:
y_pred = regressor.predict(X_test)
results = pd.DataFrame({"Actual": y_test, "Predicted": y_pred})

In [67]:
print(f"MSE loss: {mse_loss(y_test, y_pred)}")

loss: 26271949.73152235

In [68]:
print(f"RMSE loss: {rmse_loss(y_test, y_pred)}")

RMSE loss: 5125.617009836216

In [44]:
results

         Actual     Predicted
507   2973362.6  2.966048e+06
90     733776.4  7.287385e+05
5933  2866459.3  2.863453e+06
7815  6187458.3  6.199281e+06
5358  9501779.0  9.495518e+06
...         ...           ...
5431  3852614.5  3.852866e+06
939   7673297.7  7.679321e+06
860   1710016.3  1.712218e+06
3789  3337636.7  3.340378e+06
248   2166421.0  2.163645e+06

[2000 rows x 2 columns]